html,
body {
  margin: 0;
  padding: 0;
}

.app {
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  background-color: #3066be;
  /* centering our form container */
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-container {
  margin: 0 auto;
  width: 40%;
  background-color: #b4c5e4;
  border: 3px solid black;
}

h1 {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group {
  width: 75%;
  padding: 10px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group p {
  color: red;
  margin: 0;
  padding: 0;
}

/* inputs */
#email,
#password,
#confirm-password {
  width: 100%;
  border: 1px solid black;
}
#color {
  width: 80%;
  cursor: pointer;
  text-align-last: center;
  border: 1px solid black;
}

form button {
  width: 20%;
  margin: 10px;
  color: white;
  background-color: #3066be;
  cursor: pointer;
  transition-duration: 0.5s;
  border: 1px solid black;
}
form button:hover {
  transform: scale(1.03);
}

#login-link {
  color: black;
  text-align: center;
  margin: 0;
  padding: 10px;
}
#login-link a {
  color: #3066be;
  text-decoration: none;
}
